{% extends "base/layout.html" %}
{% load form_helpers %}
{% block title %}Test Credential{% endblock %}
{% block content %}
    <div class="row">
        <div class="col col-md-8 offset-md-2">
            <form method="post">
                {% csrf_token %}
                <div class="card">
                    <h5 class="card-header">Test Credential: {{ credential.name }}</h5>
                    <div class="card-body">
                        {% render_form form %}
                        {% if test_result %}
                            <hr>
                            <div class="alert alert-success mb-3">Credential test succeeded.</div>
                            <pre class="mb-0">{{ test_result }}</pre>
                        {% endif %}
                    </div>
                    <div class="card-footer text-end">
                        <a href="{{ return_url }}" class="btn btn-outline-secondary">Back</a>
                        <button type="submit" class="btn btn-primary">Run Test</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
